<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haoche666.buyer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".avtivity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.DengLuActivity" />
        <activity android:name=".avtivity.ZuJiActivity" />
        <activity android:name=".avtivity.WoYaoMcActivity" />
        <activity android:name=".avtivity.CheLiangXQActivity" />
        <activity android:name=".avtivity.WoDeGZActivity" />
        <activity android:name=".avtivity.CheLiangDBActivity" />
        <activity android:name=".avtivity.WoDeDDActivity" />
        <activity android:name=".avtivity.ChaXunFWActivity" />
        <activity android:name=".avtivity.SheZhiActivity" />
        <activity android:name=".avtivity.ChaWeiBaoActivity" />
        <activity android:name=".avtivity.ChaWeiZhangActivity" />
        <activity android:name=".avtivity.ChaXunLSActivity" />
        <activity android:name=".avtivity.ChaChuXiActivityn" />
        <activity android:name=".avtivity.CheHangXXActivity"></activity>
    </application>

</manifest>