<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hudongchuangxiang.com.seller">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent" />
        <activity
            android:name=".activity.DengLuActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WangJiMMActivity" />
        <activity android:name=".activity.ZhuCeActivity" />
        <activity android:name=".activity.YuYueSJActivity" />
        <activity android:name=".activity.CheLiangXQActivity" />
        <activity android:name=".activity.PayVideoActivity" />
        <activity android:name=".activity.BianJiCLActivity" />
        <activity android:name=".activity.ZhangHaoGLActivity" />
        <activity android:name=".activity.BianJiDPActivity" />
        <activity android:name=".activity.DianPuShuJuActivity"></activity>
    </application>

</manifest>