<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hudongchuangxiang.com.seller">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent" />
        <activity
            android:name=".activity.DengLuActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WangJiMMActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ZhuCeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.YuYueSJActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.CheLiangXQActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PayVideoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.BianJiCLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ZhangHaoGLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.BianJiDPActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DianPuShuJuActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DingDanGLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeQianBaoActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.XiaoXiZXActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.WoDeFSActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SheZhiActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>